
<div>
<agm-map [zoom] = "10" [latitude]="latestlat" [longitude]="latestlng">

  <agm-polyline geodesic="true" [strokeColor]="'red'">

    <ng-container *ngFor = "let m of markers">
      <agm-marker [latitude]="startlat" [longitude]="startlng"> </agm-marker>
      <agm-marker [latitude]="latestlat" [longitude]="latestlng"> </agm-marker>
      <agm-polyline-point [latitude]="m.lat" [longitude]="m.lng"> </agm-polyline-point>
    </ng-container>
    

  </agm-polyline>
 
</agm-map>
</div>

<div>
  Lattitude : {{latestlat}} 
  <br> Longitude : {{latestlng}}
</div>